<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/cinematic.css">
</head>
<body>

    <div id="cinematic-container">
        <div class="scene" id="scene-title">
            <h1>2025 2학기 SCUTTA</h1>
        </div>
        <div class="scene" id="scene-calendar">
            <img src="../static/images/december.png" class="month" id="month-dec">
            <img src="../static/images/november.png" class="month" id="month-nov">
            <img src="../static/images/october.png" class="month" id="month-oct">
            <img src="../static/images/september.png" class="month" id="month-sep">
        </div>
        <div class="scene" id="scene-photos">
            <div class="photo-item">
                <img src="../static/images/event1.jpg"> <p>11월 15일: MT</p>
            </div>
             <div class="photo-item">
                <img src="../static/images/event2.jpg"> <p>10월 3일: 개강 총회</p>
            </div>
        </div>
        <div class="scene" id="scene-messages">
            <p id="message1">이제, 마무리할 시간이에요</p>
            <p id="message2">더 나아진 모습으로 돌아올게요</p>
        </div>
    </div>

    <main id="main-content">
        <h2>별별랭킹</h2>
        <h2>일반 랭킹</h2>
    </main>
    
    <script src="../static/js/cinematic.js"></script>
</body>
</html>